<?xml version="1.0" encoding="UTF-8"?>

<web-app version="4.0" id="WebApp_ID" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

<display-name>ProjetoImobiliaria</display-name>


<servlet>

<servlet-name>clienteControllerServlet</servlet-name>

<servlet-class>controller.ClientesController</servlet-class>

</servlet>


<servlet>

<servlet-name>loginControllerServlet</servlet-name>

<servlet-class>controller.LoginController</servlet-class>

</servlet>


<servlet>

<servlet-name>imoveisControllerServlet</servlet-name>

<servlet-class>controller.ImoveisController</servlet-class>

</servlet>


<servlet>

<servlet-name>Logout</servlet-name>

<servlet-class>controller.Logout</servlet-class>

</servlet>


<servlet>

<servlet-name>listaImoveisServlet</servlet-name>

<servlet-class>controller.ListaImoveis</servlet-class>

</servlet>


<servlet>

<servlet-name>listaClientesServlet</servlet-name>

<servlet-class>controller.ListaClientes</servlet-class>

</servlet>


<servlet>

<servlet-name>excluirClientesServlet</servlet-name>

<servlet-class>controller.ExcluirClientes</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>clientesControllerServlet</servlet-name>

<url-pattern>/seguro/clientesControllerServlet</url-pattern>

</servlet-mapping>


<servlet-mapping>

<servlet-name>loginControllerServlet</servlet-name>

<url-pattern>/loginControllerServlet</url-pattern>

</servlet-mapping>


<servlet-mapping>

<servlet-name>imoveisControllerServlet</servlet-name>

<url-pattern>/seguro/imoveisControllerServlet</url-pattern>

</servlet-mapping>


<servlet-mapping>

<servlet-name>listaImoveisServlet</servlet-name>

<url-pattern>/seguro/listaImoveisServlet</url-pattern>

</servlet-mapping>


<servlet-mapping>

<servlet-name>listaClientesServlet</servlet-name>

<url-pattern>/seguro/listaClientesServlet</url-pattern>

</servlet-mapping>


<servlet-mapping>

<servlet-name>excluirClientesServlet</servlet-name>

<url-pattern>/seguro/excluirClientesServlet</url-pattern>

</servlet-mapping>


<servlet-mapping>

<servlet-name>Logout</servlet-name>

<url-pattern>/Logout</url-pattern>

</servlet-mapping>


<welcome-file-list>

<welcome-file>/login.jsp</welcome-file>

</welcome-file-list>


<filter>

<filter-name>FiltroSeguranca</filter-name>

<filter-class>controller.FiltroSeguranca </filter-class>

</filter>

<filter-mapping>

<filter-name>FiltroSeguranca</filter-name>

<url-pattern>/seguro/*</url-pattern>

</filter-mapping>

</web-app>